*{
    margin: 0;
    font-family: sans-serif;
}
.backgrounf_section1{
    background: linear-gradient(#FF4029, #F02228);
    width: 100%;
    height: 90%;
}
.header{
    width: 80%;
    margin: auto;
    margin-top: -900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1{
    width: 80%;
    margin: auto; 
    margin-top: 150px;
    display: flex;
    align-items: center;
}
.btn_section1{
    padding: 15px;
    background-color: none;
    border: 3px solid white;
    width: 250px;
    background: none;
    border-radius: 50px;
    color: white;
    margin-top: 35px;
}
.btn_section1:hover{
    background-color: white;
    color: #F02228;
    transition: 0.2s;
    box-shadow: 3px  gray;
}
.the_basket{
    width: 80%;
    margin: auto;
    margin-top: 200px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.section3{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.atems_section3{
    background-color: rgb(234, 234, 234);
    width: 320px;
    height: 110px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-between;
}
.atems_section3:hover{
        box-shadow: 5px 5px 5px 8px gray;
        transition: 0.2s;

}
.btb_section2_rubl{
    padding: 8px;
    border-radius: 15px;
    background-color: red;
    border: none;
    width: 130px;
    margin-top: 15px;
}
.phone{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: -380px;
    align-items: center;
    gap: 100px;
}
.section4{
    background-color:antiquewhite ;
    width: 100%;
    height: 900px;
    margin-top: -150px;
   
}